.my-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50px;
}

.toolbar-item {
    display: flex;
    align-items: center;
}

.BoldItalicUnderlineToggles div {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.UndoRedo div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.MDXEditor-content {
    width: 50% !important; /* Forcer la largeur */
    margin: 0 auto !important; /* Centrer */
    min-height: 80vh !important;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 20px;
    border: 1px solid #ddd;
    min-height: 80vh;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
    text-decoration: none;
}
